#author {
  width: fit-content;
  margin-top: 1rem;
}

#name, #occupation {
  margin: 0.2rem 1rem 0rem 1rem;
}

#social-media-links {
  margin: 0.5rem 0rem 0rem 0rem
}

#social-media-links a {
  color: white;
  margin: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.5rem;
  transition: var(--default-transition-speed);
}

#social-media-links a:hover {
  opacity: 0.2;
}
