nav {
  flex-direction: row !important;
}

nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: var(--alt-transition-speed);
  width: 5rem;
}

nav a:hover {
  box-shadow: var(--alt-box-shadow);
}
