#name, #occupation {
  margin: var(--default-margin);
}

#occupation {
  margin-top: 0.2rem;
}

#social-media-links {
  margin-top: 0.5rem;
}

#social-media-links a {
  color: white;
  margin: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.5rem;
  transition: var(--default-transition-speed);
  cursor: alias;
}

#social-media-links a:hover {
  color: var(--light-blue);
}
