#project {
  width: 50vw;
  height: 100%;
}

#project-name-container {
  width: 100%;
}

#project-name {
  width: auto;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

#project-image {
  width: 100%;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 1rem;
}

#project-name-container a {
  text-decoration: none;
  cursor: alias;
}
