main {
  width: 100%;
  margin-top: 2rem;
}

.main-enter {
  transform: translateX(100vw);
  opacity: 0;
}

.main-enter-active {
  transform: translateX(0vw);
  opacity: 1;
  transition: 0.5s;
}

.main-enter-done {
  transform: translateX(0vw);
}

.main-exit {
  transform: translateX(0vw);
}

.main-exit-active {
  transform: translateX(-100vw);
  transition: 0.5s;
  opacity: 0;
}

.main-reverse-enter {
  transform: translateX(-100vw);
  opacity: 0;
}

.main-reverse-enter-active {
  transform: translateX(0vw);
  transition: 0.5s;
  opacity: 1;
}

.main-reverse-enter-done {
  transform: translateX(0vw);
}

.main-reverse-exit {
  transform: translateX(0vw);
  opacity: 1;
}

.main-reverse-exit-active {
  transform: translateX(100vw);
  transition: 0.5s;
  opacity: 0;
}
