:root {
  font-family: system-ui, sans-serif;
  font-size: 20px;

  --main-bg-color: #1a1d24;
  --secondary-bg-color: #232731;
  --alt-bg-color: #3c4556;
  --main-text-color: #e8e8e8;

  --blue: #4e8cb7;
  --light-blue: #68a7d4;
  --orange: #f28a4a;
  --ice: #a7c3d9;

  --default-transition-speed: 0.4s;
  --alt-transition-speed: 0.1s;

  --default-box-shadow: 2px 2px 4px 2px black;
  --alt-box-shadow: 1px 1px 2px 1px black;

  --default-margin: 0rem 1rem 0rem 1rem;
  --alt-margin: 0rem 0.5rem 0rem 0.5rem;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--main-bg-color);
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#canvas {
  z-index: -1;
  opacity: 0;
  transition: opacity var(--default-transition-speed);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  background: var(--secondary-bg-color);
  color: var(--main-text-color);
  padding: 0.5rem;
  box-shadow: var(--default-box-shadow);
}

.clickable {
  transition: var(--alt-transition-speed);
}

.clickable:hover {
  color: var(--light-blue);
}

.clickable:active {
  box-shadow: var(--alt-box-shadow);
}
