#bio, #hobbies {
  width: 50vw;
}

#bio-paragraphs {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.description {
  margin: 0;
  text-align: center;
}

#hobbies {
  margin-top: 2rem;
}

#hobbies-list {
  margin: -0.5rem 1.5rem 1.5rem -0.5rem;
}

.hobby-description {
  margin: -0.8rem 0rem -0.8rem 0rem;
}

.description-container {
  margin-bottom: 0.5rem;
}
