#bio, #hobbies {
  width: 50vw;
}

#paragraphs {
  margin: 0rem 1.5rem 0rem 1.5rem;
}

.description {
  margin: 0;
}

#hobbies {
  margin-top: 2rem;
}

#hobbies-list {
  margin: -0.5rem 1.5rem 1.5rem 0rem;
}

#hobby-description {
  margin: -0.8rem 0rem -0.8rem 0rem;
}
