#contact {
  margin-top: -8rem;
}

#contact a {
  text-decoration: none;
  cursor: alias;
}

#contact-terminal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#email-tooltip {
  position: absolute;
  opacity: 0;
  top: 2rem;
  z-index: 1;
  transition: 1s;
  color: var(--main-text-color);
}
