#scroll {
  flex-direction: row;
  width: 100%;
}

#scroll-components {
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

#caret-left, #caret-right {
  width: 2.5rem;
  height: auto;
}

#scroll-left-button, #scroll-right-button {
  border: none;
  cursor: pointer;
}

#scroll-left-button {
  margin-right: -10vw;
  padding-right: 0;
}

#scroll-right-button {
  margin-left: -10vw;
  padding-left: 0;
}
